<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <title>HTML list</title>
    </head>
    <body>
        <div>
            <h2>Hello, {{ username }}</h2>
        </div>
        <div>
            <form method="post" action="/logout">
                <input type="hidden" name="_method" value="GET">
                <button type="submit">Logout</button>
            </form>
        </div>
        <ol>
        {% for thing in attrs: %}
            <li>{{ thing }}</li>
        {% endfor %}
    </ol>

    </body>
</html>
