<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <title>Parameters</title>
    </head>
    <body>
        <div>
            <h2>Hello, {{ username }}</h2>
        </div>
        <div>
            <form method="post" action="/logout">
                <input type="hidden" name="_method" value="GET">
                <button type="submit">Logout</button>
            </form>
        </div>
        <table>
            <tr>
                <th>parameter</th>
                <th>value</th>
            </tr>
                {% for key, value in attrs.items() %}
                    <tr><td>{{ key }}</td><td>{{ value }}</td></tr>
                {% endfor %}
        </table>
    </body>
</html>
